:root {
   // Token colors hightlight
   --color-syntax-01: #f1f2f4;
   --color-syntax-02: #fbab51;
   --color-syntax-03: #a6e64c;
   --color-syntax-04: #fa478f;
   --color-syntax-05: #5ed5ed;
   --color-syntax-06: #ac86f9;
   --color-syntax-07: #e8dc7d;
   --color-syntax-08: #636a79;
}
