:root {
   // Color syntax hightlight
   --color-token-01: #f8f8f7;
   --color-token-02: #fa9f38;
   --color-token-03: #abe64c;
   --color-token-04: #fa4789;
   --color-token-05: #5ed5ed;
   --color-token-06: #a57cf8;
   --color-token-07: #e8dd7d;
   --color-token-08: #676f7e;
}
