:root {
   // Color syntax hightlight
   --color-token-01: #f8f8f7;
   --color-token-02: #fa9f38;
   --color-token-03: #a8db57;
   --color-token-04: #ed5e93;
   --color-token-05: #5ed5ed;
   --color-token-06: #ae86f9;
   --color-token-07: #e8dd7d;
   --color-token-08: #737a8c;
}
