:root {
   // Newest token syntax colors
   --color-syntax-01: #e4e5e7;
   --color-syntax-02: #fa9c29;
   --color-syntax-03: #a9e236;
   --color-syntax-04: #fa2976;
   --color-syntax-05: #68d8ee;
   --color-syntax-06: #ab83fc;
   --color-syntax-07: #e6d870;
   --color-syntax-08: #676f7e;
}
