:root {
   // Syntax hightlighting
   --color-token-01: #f5f4f0;
   --color-token-02: #fa9f38;
   --color-token-03: #aceb47;
   --color-token-04: #ff4287;
   --color-token-05: #5ed5ed;
   --color-token-06: #ae86f9;
   --color-token-07: #e8dd7d;
   --color-token-08: #737a8c;
}